In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Alice Springs,AU,2022-05-14 20:06:51,-23.7000,133.8833,54.95,71,31,1.14
1,1,Norman Wells,CA,2022-05-14 20:06:51,65.2820,-126.8329,42.69,86,100,9.13
2,2,Chuy,UY,2022-05-14 20:06:52,-33.6971,-53.4616,62.10,76,83,6.55
3,3,Guerrero Negro,MX,2022-05-14 20:06:52,27.9769,-114.0611,78.01,39,100,13.27
4,4,Bambous Virieux,MU,2022-05-14 20:06:53,-20.3428,57.7575,72.21,72,89,11.77

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []

# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of Wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Guerrero Negro,MX,2022-05-14 20:06:52,27.9769,-114.0611,78.01,39,100,13.27
12,12,Cockburn Town,TC,2022-05-14 20:06:56,21.4612,-71.1419,79.25,84,100,19.71
13,13,Sanctorum,MX,2022-05-14 20:06:56,19.1000,-98.2500,81.72,17,0,3.44
16,16,Manta,EC,2022-05-14 20:06:57,-0.9500,-80.7333,85.78,66,75,3.44
18,18,Maceio,BR,2022-05-14 20:06:58,-9.6658,-35.7353,78.24,88,100,9.22
24,24,Deulgaon Raja,IN,2022-05-14 20:07:01,20.0167,76.0333,88.21,29,28,15.35
27,27,Cabo San Lucas,MX,2022-05-14 20:07:01,22.8909,-109.9124,88.61,46,20,10.36
34,34,Wamba,NG,2022-05-14 20:07:05,8.9333,8.6000,79.95,65,95,0.54
36,36,Jamestown,US,2022-05-14 20:03:12,42.0970,-79.2353,76.01,71,40,6.91
37,37,Hithadhoo,MV,2022-05-14 20:07:06,-0.6000,73.0833,83.01,68,96,9.53

In [24]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3   Guerrero Negro      MX     78.01  27.9769 -114.0611
12   Cockburn Town      TC     79.25  21.4612  -71.1419
13       Sanctorum      MX     81.72  19.1000  -98.2500
16           Manta      EC     85.78  -0.9500  -80.7333
18          Maceio      BR     78.24  -9.6658  -35.7353
24   Deulgaon Raja      IN     88.21  20.0167   76.0333
27  Cabo San Lucas      MX     88.61  22.8909 -109.9124
34           Wamba      NG     79.95   8.9333    8.6000
36       Jamestown      US     76.01  42.0970  -79.2353
37       Hithadhoo      MV     83.01  -0.6000   73.0833

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [33]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Guerrero Negro,MX,78.01,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
12,Cockburn Town,TC,79.25,21.4612,-71.1419,Osprey Beach Hotel
13,Sanctorum,MX,81.72,19.1000,-98.2500,Marriott Puebla Hotel Meson del Angel
16,Manta,EC,85.78,-0.9500,-80.7333,Balandra Hotel
18,Maceio,BR,78.24,-9.6658,-35.7353,Hotel Ponta Verde Maceió

In [1]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'hotel_df' is not defined